@import "tailwindcss";



/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* body{
    height: 100%;
    width: 100%;
}  */
 /* .message-box::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  /* scrollbar-width: none; /* Firefox */
.message-box {
 scroll-behavior: smooth;
}